<div>
	<a href="{{.Permalink}}">
		<picture class="_mgt-32px">
			<source srcset="{{.Permalink}}{{.Params.thumbnailImageName}}@2x.webp 2x, {{.Permalink}}{{.Params.thumbnailImageName}}.webp 1x" type="image/webp">
			<source srcset="{{.Permalink}}{{.Params.thumbnailImageName}}@2x.jpg 2x, {{.Permalink}}{{.Params.thumbnailImageName}}.jpg 1x" type="image/jpeg">
			<img
				src="{{.Permalink}}{{.Params.thumbnailImageName}}.jpg"
				alt="Cover Image"
				class="_ojf-cv _w-100pct _h-196px _ojf-cv"
				draggable="false"
			>
		</picture>
	</a>

	<div class="_pdv-16px lo-12 _gg-12px">
		<div class="_dp-f _jtfct-spbtw _fs-7">
			{{ range .Params.categories }}
			<a href="{{ "/c/" | relLangURL }}{{ . | urlize }}">
				<strong class="_cl-primary _ttf-upc">
					{{.}}
				</strong>
			</a>
			{{ end }}
			<div class="_opct-80">
				{{dateFormat "2 Jan 2006" .PublishDate}}
			</div>
		</div>
		<a href="{{.Permalink}}" class="bio-link -dark">
			<h4 class="_ffml-secondary _mgt-8px">
				{{.Params.title}}
			</h4>
		</a>
		<a href="{{.Permalink}}" class="bio-link -dark">
			<p class="_fs-6">
				{{.Params.description}}
			</p>
		</a>
		<small class="_opct-80">
			{{.Params.minRead}} min read
		</small>
	</div>
</div>