<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<title>{{.Params.pageTitle}}</title>
	<link href="/css/main.css" rel="stylesheet">
	<link href="/fontawesome/css/fontawesome-all.min.css" rel="stylesheet">
</head>

<body>
	{{partial "navbar.compact.html" .}}
	{{block "content" .}}{{end}}
	{{partial "footer.html" .}}
</body>

</html>