<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

<head>
	<meta charset="UTF-8">
	<title>{{.Params.pageTitle}} | chanto.io</title>
	<meta name="description" content="{{.Params.description}}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/png" href="/images/favicon.png?v=1.1">
	<link rel="preload" href="/css/main.css" as="style">
	<link rel="stylesheet" href="/css/main.css">

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="{{.Params.title}}">
	<meta itemprop="description" content="{{.Params.description}}">
	<meta itemprop="image" content="{{.Permalink}}{{.Params.coverImageName}}@2x.jpg">

	<!-- Twitter Card data -->
	<meta name="twitter:creator" content="@bio_maru">

	<!-- Open Graph data -->
	<meta property="og:title" content="{{.Params.title}} | chanto.io">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{.Permalink}}">
	<meta property="og:image" content="{{.Permalink}}{{.Params.coverImageName}}@2x.jpg">
	<meta property="og:description" content="{{.Params.description}}">
	<meta property="og:site_name" content="chanto.io">
	<meta property="article:published_time" content="{{time .PublishDate}}">
	<meta property="article:modified_time" content="{{time .Lastmod}}">
	<meta property="article:section" content="Web Design">
	<meta property="article:tag" content="{{range .Params.categories}}{{.}}{{end}}">
	<meta property="article:author" content="100001004794095">
	<meta property="fb:admins" content="100001004794095">
	<meta property="fb:app_id" content="1358308890983046">

	{{partial "header.html" .}}

<body>
	{{partial "navbar.compact.html" .}}
	{{block "content" .}}{{end}}
	{{partial "footer.html" .}}
</body>

</html>