{{define "content"}}
<style>
	.article-container {
		width: 100%;
		max-width: 800px;
	}

	article h1,
	article h2,
	article h3,
	article h4,
	article h5,
	article h6 {
		margin-top: 48px
	}

	article img+p {
		margin-top: 48px;
	}

	article p {
		margin-top: 28px;
	}

	article h1+p,
	article h2+p,
	article h3+p,
	article h4+p,
	article h5+p,
	article h5+p {
		margin-top: 8px;
	}

	article img {
		width: 100%;
	}

	article img+em {
		margin-top: 4px;
		opacity: 0.6;
		width: 100%;
		display: block;
		font-size: 0.86rem;
		text-align: center;
	}

	article ul {
		list-style: disc;
		padding-left: 30px;
		margin-top: 28px;
		margin-bottom: 0px;
	}

	article ol {
		margin-top: 28px;
		margin-bottom: 0px;
		padding-left: 30px;
		list-style: decimal;
	}

	article ul li,
	article ol li {
		line-height: 1.65;
	}

	article blockquote {
		font-style: italic;
		opacity: 0.6;
		font-size: 1.5em;
	}
</style>

<section class="lo-container _jtfit-ct _pdv-48px">
	<div class="article-container _w-100pct _dp-f _jtfct-spbtw">
		<div>
			{{ range .Params.categories }}
			<a href="{{ " /c/ " | relLangURL }}{{ . | urlize }}">
				<strong class="_cl-positive _ttf-upc">
					{{.}}
				</strong>
			</a>
			{{ end }}
			<span class="_opct-60">
				– {{ .Date.Format "2 Jan 2006" }}
			</span>
		</div>
	</div>

	<h1 class="article-container _ffml-secondary _fs-2 _cl-dark _mgt-24px">
		{{ .Title }}
	</h1>

	<img
		src="{{.Params.coverImgUrl}}"
		alt="Cover Image"
		class="_w-100pct _mgt-32px _ojf-cv"
		style="max-width: 1000px; max-height: 400px;">

	<article class="article-container _fs-5 _mgt-24px _cl-dark">
		{{ .Content }}
	</article>
</section>
{{partial "components/button-scroll-top.html"}} {{end}}