{{define "content"}}
<style>
	.article-container {
		width: 100%;
		max-width: 800px;
		font-size: 1.25rem;
	}

	article h1,
	article h2,
	article h3,
	article h4,
	article h5,
	article h6 {
		margin-top: 64px;
		font-family: var(--font-secondary);
	}

	article img+p {
		margin-top: 48px;
	}

	article p {
		margin-top: 28px;
	}

	article h1+p,
	article h2+p,
	article h3+p,
	article h4+p,
	article h5+p,
	article h5+p {
		margin-top: 8px;
	}

	article img {
		margin-top: 16px;
		width: 100%;
	}

	article img+em {
		margin-top: 4px;
		opacity: 0.8;
		width: 100%;
		display: block;
		font-size: 0.86rem;
		text-align: center;
	}

	article ul {
		list-style: disc;
		padding-left: 30px;
		margin-top: 28px;
		margin-bottom: 0px;
	}

	article ol {
		margin-top: 28px;
		margin-bottom: 0px;
		padding-left: 30px;
		list-style: decimal;
	}

	article ul li,
	article ol li {
		line-height: 1.65;
	}

	article ul li:not(:first-child),
	article ol li:not(:first-child) {
		margin-top: 8px;
	}

	article blockquote {
		font-style: italic;
		opacity: 0.6;
		font-size: 1.5em;
	}

	article code {
		background-color: #f8f8f8;
		border: 1px solid #ddd;
		font-size: 0.9rem;
		overflow: auto;
		padding: 4px 10px;
		border-radius: 3px;
		vertical-align: middle;
	}
</style>

<section class="lo-container _jtfit-ct _pdv-48px">
	<div class="article-container _w-100pct _dp-f _jtfct-spbtw">
		<div>
			{{ range .Params.categories }}
			<a href="{{ "/c/" | relLangURL }}{{ . | urlize }}">
				<strong class="_cl-primary _ttf-upc">
					{{.}}
				</strong>
			</a>
			{{ end }}
			<span class="_opct-80">
				– {{ .Date.Format "2 Jan 2006" }}
			</span>
		</div>
	</div>

	<h1 class="article-container _ffml-secondary _fs-1 _cl-dark _mgt-24px">
		{{ .Title }}
	</h1>

	<picture class="_mgt-32px">
		<source media="(max-width: 770px)" srcset="{{.Params.thumbnailImageName}}@2x.webp 2x, {{.Params.thumbnailImageName}}.webp 1x" type="image/webp">
		<source media="(max-width: 770px)" srcset="{{.Params.thumbnailImageName}}@2x.jpg 2x, {{.Params.thumbnailImageName}}.jpg 1x" type="image/jpeg">
		<source srcset="{{.Params.coverImageName}}@2x.webp 2x, {{.Params.coverImageName}}.webp 1x" type="image/webp">
		<source srcset="{{.Params.coverImageName}}@2x.jpg 2x, {{.Params.coverImageName}}.jpg 1x" type="image/jpeg">
		<img
			src="{{.Params.coverImageName}}.jpg"
			alt="Cover Image"
			class="_w-100pct _ojf-cv"
			style="max-width: 1000px; max-height: 400px;"
		>
	</picture>

	<article class="article-container _mgt-24px _cl-dark">
		{{ .Content }}
	</article>
</section>

{{/*
{{partial "components/button-scroll-top.html"}}
*/}}
{{end}}
