<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Done Neatly – Just an ordinary Frondend Designer blog | chanto.io</title>
	<meta name="description" content="Done Neatly: Just an ordinary Frondend Designer blog, frontend news, tip and trick, workshop">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/png" href="images/favicon.png">
	<link rel="preload" as="style" href="/css/main.css">
	<link rel="preload" as="style" href="/fontawesome/css/fontawesome-all.min.css">

	<link rel="stylesheet" href="/fontawesome/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/css/main.css">
</head>

<body>
	{{block "content" .}}{{end}}
</body>

</html>