<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">

<head>
	<meta charset="UTF-8">
	<title>Done Neatly – Just an ordinary Frondend Designer blog | chanto.io</title>
	<meta name="description" content="Done Neatly: Just an ordinary Frondend Designer blog, frontend news, tip and trick, workshop">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/png" href="/images/favicon.png?v=1.1">
	<link rel="preload" href="/css/main.css" as="style">
	<link rel="preload" href="/fontawesome/css/fontawesome-all.min.css" as="style">
	<link rel="preload" href="/fonts/CloudSoftBold.otf" as="font" type="font/otf">
	<link rel="preload" href="/fonts/CSChatThaiUI.otf" as="font" type="font/otf">

	<link rel="stylesheet" href="/fontawesome/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/css/main.css">

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="Done Neatly – Just an ordinary Frondend Designer blog | chanto.io">
	<meta itemprop="description" content="Done Neatly: Just an ordinary Frondend Designer blog, frontend news, tip and trick, workshop">
	<meta itemprop="image" content="https://chanto.io/images/web-banner.jpg">

	<!-- Twitter Card data -->
	<meta name="twitter:creator" content="@bio_maru">

	<!-- Open Graph data -->
	<meta property="og:title" content="Done Neatly – Just an ordinary Frondend Designer blog | chanto.io">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{.Permalink}}">
	<meta property="og:image" content="https://chanto.io/images/web-banner.jpg">
	<meta property="og:description" content="Done Neatly: Just an ordinary Frondend Designer blog, frontend news, tip and trick, workshop">
	<meta property="og:site_name" content="chanto.io">
	<meta property="article:section" content="Web Design">
	<meta property="article:author" content="100001004794095">
	<meta property="fb:admins" content="100001004794095">
	<meta property="fb:app_id" content="1358308890983046">
</head>

<body>
	{{block "content" .}}{{end}}
</body>

</html>