<header class="lo-12 -gap-32px _jtfit-ct _pdv-24px _pdh-12px _pst-rlt _zid-1">
	<a href="/">
		<img
		src="/images/logo.svg"
		alt="Chanto Logo"
		height="54"
		draggable="false">
	</a>
	<div class="_tal-ct">
		<h3 class="_ffml-secondary _cl-black">Done Neatly</h3>
		<p class="_mgt-2px _opct-80">Just an ordinary Frondend Designer blog</p>
	</div>
	<div>
		<ul class="_dp-f _jtfct-ct _fw-w">
			{{ range $taxonomyname, $taxonomy := .Site.Taxonomies.categories }}
			<li class="_pdh-12px _mgt-12px">
				<a href="{{ "/c/" | relLangURL }}{{ $taxonomyname | urlize }}" class="bio-link -fancy _ttf-upc">
					{{$taxonomyname}}
				</a>
			</li>
			{{end}}
		</ul>
	</div>
</header>

<style>
	.js-floating-shape {
		position: absolute;
		left: -50px
	}
</style>
<div class="js-floating-shapes-container _pst-asl _w-100pct _h-128px _t-0px _l-0px _zid-0 _ptev-n">
	<i class="js-floating-shape far fa-square"></i>
	<i class="js-floating-shape fas fa-square"></i>
	<i class="js-floating-shape far fa-square _fs-5"></i>
	<i class="js-floating-shape fas fa-square _fs-5"></i>
	<i class="js-floating-shape far fa-triangle"></i>
	<i class="js-floating-shape fas fa-triangle"></i>
	<i class="js-floating-shape far fa-square"></i>
	<i class="js-floating-shape fas fa-square"></i>
	<i class="js-floating-shape far fa-square _fs-5"></i>
	<i class="js-floating-shape fas fa-square _fs-5"></i>
	<i class="js-floating-shape far fa-triangle"></i>
	<i class="js-floating-shape fas fa-triangle"></i>
	<i class="js-floating-shape far fa-triangle _fs-4"></i>
	<i class="js-floating-shape fas fa-triangle _fs-4"></i>
	<i class="js-floating-shape far fa-circle"></i>
	<i class="js-floating-shape fas fa-circle"></i>
	<i class="js-floating-shape far fa-circle _fs-4"></i>
	<i class="js-floating-shape far fa-circle"></i>
	<i class="js-floating-shape fas fa-circle"></i>
	<i class="js-floating-shape far fa-circle _fs-4"></i>
	<i class="js-floating-shape fas fa-circle _fs-4"></i>
	<i class="js-floating-shape fas fa-asterisk _fs-7"></i>
	<i class="js-floating-shape fas fa-asterisk _fs-8"></i>
	<i class="js-floating-shape far fa-badge"></i>
	<i class="js-floating-shape far fa-times _fs-7"></i>
	<i class="js-floating-shape far fa-times _fs-7"></i>
	<i class="js-floating-shape far fa-times _fs-7"></i>
	<i class="js-floating-shape far fa-times"></i>
	<i class="js-floating-shape fas fa-diamond"></i>
	<i class="js-floating-shape far fa-diamond"></i>
	<i class="js-floating-shape fas fa-diamond _fs-5"></i>
	<i class="js-floating-shape far fa-diamond _fs-4"></i>
</div>

<script src="https://unpkg.com/popmotion/dist/popmotion.global.min.js"></script>
<script>
	const windowWidth = window.innerWidth;
	console.log(windowWidth)
	const shapesContainer = document.querySelector('.js-floating-shapes-container');
	const shapesStyler = Array
		.from(shapesContainer.childNodes)
		.filter(v => v.classList)
		.map(popmotion.styler);

	shapesStyler.map((styler, i, arr) => {
		const numItems = arr.length
		const minDurataionX = 28000;
		const maxDurataionX = 38000;
		const minDurataionY = 8000;
		const maxDurataionY = 12000;
		const minPositionY = 10;
		const maxPositionY = 160;

		const alphaDurationX = minDurataionX + Math.floor((maxDurataionX - minDurataionX) / (i + 1))
		const alphaDurationY = minDurataionY + Math.floor((maxDurataionY - minDurataionY) / (i + 1))
		const alphaRotate = 120 + Math.floor((240) * Math.random())

		const randomHue = Math.floor(Math.random() * 360)
		const randomHue2 = Math.floor(Math.random() * 360)
		const alphaColorStart = popmotion.valueTypes.color.transform({
			hue: randomHue,
			saturation: 100,
			lightness: 87,
			alpha: 1
		});

		const alphaColorStop = popmotion.valueTypes.color.transform({
			hue: randomHue2,
			saturation: 100,
			lightness: 87,
			alpha: 1
		});

		const alphaElapsedA = Math.random() * maxDurataionX * -1;
		const alphaElapsedB = Math.random() * maxDurataionY;

		popmotion.tween({
			from: { x: 0, color: alphaColorStart },
			to: { x: windowWidth, color: alphaColorStop },
			ease: popmotion.easing.linear,
			flip: Infinity,
			duration: alphaDurationX,
			elapsed: alphaElapsedA
		}).start(styler.set);

		popmotion.tween({
			from: { y: minPositionY, rotate: 0 },
			to: { y: maxPositionY, rotate: alphaRotate },
			ease: popmotion.easing.linear,
			flip: Infinity,
			duration: alphaDurationY,
			elapsed: alphaElapsedB
		}).start(styler.set);
	})
</script>