<header
  class="lo-12 -gap-32px _jtfit-ct _pdv-24px _pdh-12px">
  <a href="/">
    <img
      src="/images/logo.svg"
      alt="Chanto Logo"
      height="54"
      draggable="false">
  </a>
  <div class="_tal-ct">
    <h3 class="_ffml-secondary _cl-black">Done Neatly</h3>
    <p class="_mgt-2px _opct-80">Just an ordinary Frondend Designer blog</p>
  </div>
  <div>
    <ul class="_dp-f _jtfct-ct _fw-w">
      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.categories }}
      <li class="_pdh-12px _mgt-12px">
        <a href="{{ "/c/" | relLangURL }}{{ $taxonomyname | urlize }}" class="bio-link -fancy _ttf-upc">
          {{$taxonomyname}}
        </a>
      </li>
      {{end}}
    </ul>
  </div>
</header>