@import 'config/config';
@import 'biomatic/src/mixins/mixins';

@import 'biomatic/src/layouts/layout';
@import 'biomatic/src/components/component';
@import 'biomatic/src/utilities/utilities';
@import 'biomatic/src/atomic/atomic';

:root {
	--navbar-height: 60px;
	--footer-height: 80px;
}

::selection {
	background: hsla(269, 87%, 58%, 0.212);
}

::-moz-selection {
	background: hsla(269, 87%, 58%, 0.212);
}
