@font-face {
	font-family: 'CloudSoftBold';
	font-display: swap;
	src: url('/fonts/CloudSoftBold.otf');
}

@font-face {
	font-family: 'CSChatThaiUI';
	font-display: swap;
	src: url('/fonts/CSChatThaiUI.ttf');
}

$font-primary:
	'CSChatThaiUI',
	-apple-system,
	system-ui,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	sans-serif;

$font-secondary:
	'CloudSoftBold',
	-apple-system,
	system-ui,
	BlinkMacSystemFont,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	sans-serif;

:root {
	--font-primary:
		'CSChatThaiUI',
		-apple-system,
		system-ui,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		sans-serif;

	--font-secondary:
		'CloudSoftBold',
		-apple-system,
		system-ui,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		sans-serif;
}